[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start="flask --app src/app run"
deploy="gunicorn -w 4 -b 0.0.0.0:$PORT src.app:app"
